@media print {
	body {
		margin: 0;
		padding: 0;
		max-width: 58.3mm; // 2.3in
		display: inline-flex;
		flex-wrap: wrap;
	}
}

.label {
	all: revert;
	position: relative;
	background: white;
	color: black;
	height: 31.75mm;
	width: 57.15mm;
	border: 0.5px solid #ffdfd4;
	margin: 0px;
	box-sizing: border-box;
	overflow: hidden;
}

.item {
	height: 19mm;
	overflow: hidden;
	padding: 4px;
	font-family: Arial, sans-serif;
	font-size: initial;
	line-height: initial;
}

.barcode {
	white-space: nowrap;
	position: absolute;
	bottom: 0;
	z-index: 3;

	div {
		font-size: 10px;
		font-family: monospace;
		margin-left: 6px;
		line-height: 1em;
	}

	p {
		margin: 0;
	}
}

.dm {
	width: 6mm;
	height: 6mm;
	transform: rotate(270deg);
	padding: 3px;
	fill: black;
}

.subtext {
	position: absolute;
	right: 2px;
	bottom: 3px;
	font-family: serif;
	font-size: 18px;
	font-weight: 500;
	z-index: 10;
	line-height: 1em;
}

.price {
	position: absolute;
	bottom: 21px;
	font-size: 50px;
	right: 0;
	overflow: hidden;
	object-position: center;
	margin-right: 3px;
	line-height: 1em;
	font-family: "Book Antiqua", serif;
	padding: 0px 10px;
}

.price-per-unit {
	color: #777;
}

.barcodeOnly {
	.item {
		font-size: 0.9em;
		margin-right: 15px;
	}

	.barcode {
		left: 50%;
		transform: translateX(-50%) scale(1.4);
		width: max-content;

		& > div {
			margin-left: 0;
			font-size: 8px;
			writing-mode: vertical-lr;
			position: absolute;
			right: -1.2em;
			bottom: 1.2em;
		}
	}

	.price,
	.price-per-unit,
	.subtext {
		display: none;
	}
}

.label.fridge {
	&::before {
		content: "";
		display: block;
		position: absolute;
		border-top: 0.5px dashed #ff9b79;
		width: 100%;
		bottom: 7mm;
	}

	.item {
		// font-size: 0.9em;
		font-size: 15px;
		height: 12mm;
	}

	.barcode p,
	.price-per-unit {
		display: none;
	}

	.subtext {
		font-family: "Book Antiqua", serif;
		font-size: 1em;
		bottom: 11mm;
		left: 0;
		right: unset;
		background: #888;
		color: white;
		padding: 0px 3px;
		margin-left: 6px;
		border-radius: 3px;
		padding-top: 2px;
	}

	.price,
	.barcode {
		bottom: 8mm;
		line-height: 0.9em;
	}
}

.label.half {
	width: calc(57.15mm / 2);
	display: block;
	border-right: 0.5px dashed #ff9b79;

	& + .label.half:nth-of-type(even) {
		border-right-style: solid;
		border-left-style: none;
	}

	.item {
		font-size: 0.75em;
		font-size: 12px;
		text-align: center;
	}

	.subtext {
		padding: 0px 3px;
		border-radius: 3px;
		font-size: 0.95em;
	}

	.price {
		right: 0;
		left: 0;
		margin: 0px 3px;
		padding: 0px;
		text-align: center;
		font-size: 38px;
	}

	.barcode.dm {
		transform: none;
		bottom: 1;
	}

	.barcode p {
		display: none;
	}
}

.label.weight {
	display: grid;
	grid-template-columns: min-content 1fr;
	align-items: center;
	justify-content: space-between;
	padding: 5px;
	box-sizing: border-box;
	writing-mode: vertical-rl;
	grid-column-gap: 2px;
	grid-row-gap: 0px;
	font-family: "Arial";

	.barcode {
		grid-column: 1;
		position: static;
		width: 8mm;
		height: 8mm;
		transform: unset;
	}

	.item {
		grid-column: span 2;
		text-align: left;
		font-size: 11pt;
		font-size: 10pt;
		max-width: 60pt;
		padding: 0px;
		height: unset;
	}

	.price {
		all: revert;
		grid-row: 2;
		grid-column: span 2;
		text-align: center;
		justify-self: center;
		align-self: end;
		font-size: 16pt;
		font-weight: bold;
		line-height: 1em;
		font-family: "Book Antiqua", serif;
		margin-right: 4px;

		&::after {
			content: "  €";
		}
	}

	.kg-price {
		grid-column: 2;
		justify-self: center;
		align-self: end;
	}

	.kg-text {
		grid-column: 2;
	}

	.kg-text,
	.weight-text {
		justify-self: center;
		align-self: baseline;
		color: #999;
		font-size: 0.8em;
		line-height: 0.6;
	}

	.weight-text {
		grid-column: 1;
	}

	.weight {
		grid-column: 1;
		justify-self: center;
		align-self: end;
	}

	.expiry {
		grid-column: 2;
		text-align: center;
		justify-self: center;
		align-self: center;
		line-height: 0.9;
		font-size: 0.8em;
		color: black;

		&::before {
			content: "Geriausia iki ";
			color: #444;
			display: inline;
			font-family: Arial;
		}
	}

	&.half {
		display: grid;
		writing-mode: unset;

		.price {
			font-size: 18px;
		}

		*:not(.price) {
			font-size: 9pt;
		}

		.item {
			max-width: unset;
			max-height: 11mm;
		}

		.dm {
			grid-row: 3 / span 3;
		}

		.weight {
			grid-column: 2;
		}

		.expiry::before {
			content: " ";
			display: inline-block;
			position: static;
			background-repeat: no-repeat;
			background-image: url("data:image/svg+xml,%3Csvg fill='%23000000' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='15px' height='15px' viewBox='0 0 612 612' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cpath d='M612,463.781c0-70.342-49.018-129.199-114.75-144.379c-10.763-2.482-21.951-3.84-33.469-3.84 c-3.218,0-6.397,0.139-9.562,0.34c-71.829,4.58-129.725,60.291-137.69,131.145c-0.617,5.494-0.966,11.073-0.966,16.734 c0,10.662,1.152,21.052,3.289,31.078C333.139,561.792,392.584,612,463.781,612C545.641,612,612,545.641,612,463.781z M463.781,561.797c-54.133,0-98.016-43.883-98.016-98.016s43.883-98.016,98.016-98.016s98.016,43.883,98.016,98.016 S517.914,561.797,463.781,561.797z'/%3E%3Cpolygon points='482.906,396.844 449.438,396.844 449.438,449.438 396.844,449.438 396.844,482.906 482.906,482.906 482.906,449.438 482.906,449.438 '/%3E%3Cpath d='M109.969,0c-9.228,0-16.734,7.507-16.734,16.734v38.25v40.641c0,9.228,7.506,16.734,16.734,16.734h14.344 c9.228,0,16.734-7.507,16.734-16.734V54.984v-38.25C141.047,7.507,133.541,0,124.312,0H109.969z'/%3E%3Cpath d='M372.938,0c-9.228,0-16.734,7.507-16.734,16.734v38.25v40.641c0,9.228,7.507,16.734,16.734,16.734h14.344 c9.228,0,16.734-7.507,16.734-16.734V54.984v-38.25C404.016,7.507,396.509,0,387.281,0H372.938z'/%3E%3Cpath d='M38.25,494.859h236.672c-2.333-11.6-3.572-23.586-3.572-35.859c0-4.021,0.177-7.999,0.435-11.953H71.719 c-15.845,0-28.688-12.843-28.688-28.688v-229.5h411.188v88.707c3.165-0.163,6.354-0.253,9.562-0.253 c11.437,0,22.61,1.109,33.469,3.141V93.234c0-21.124-17.126-38.25-38.25-38.25h-31.078v40.641c0,22.41-18.23,40.641-40.641,40.641 h-14.344c-22.41,0-40.641-18.231-40.641-40.641V54.984H164.953v40.641c0,22.41-18.231,40.641-40.641,40.641h-14.344 c-22.41,0-40.641-18.231-40.641-40.641V54.984H38.25C17.126,54.984,0,72.111,0,93.234v363.375 C0,477.733,17.126,494.859,38.25,494.859z'/%3E%3Ccircle cx='134.774' cy='260.578' r='37.954'/%3E%3Ccircle cx='248.625' cy='260.578' r='37.954'/%3E%3Ccircle cx='362.477' cy='260.578' r='37.954'/%3E%3Ccircle cx='248.625' cy='375.328' r='37.953'/%3E%3Ccircle cx='134.774' cy='375.328' r='37.953'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
			height: 15px;
			width: 15px;
		}

		.expiry {
			display: flex;
			align-items: center;
		}

		.manufacturer,
		.weight-text,
		.kg-text,
		.package {
			display: none;
		}
	}

	.manufacturer,
	.description {
		font-size: 0.7em;
		grid-column: span 2;
	}

	.package {
		font-size: 0.7em;
		grid-column: span 2;
	}

	.package {
		grid-row: 3;
		grid-column: span 2;
		text-align: center;
		justify-self: center;
		align-self: center;
		margin-right: -5px;
		margin-left: 5px;
		color: #444;
		font-size: 10px;
		line-height: 0.8em;
	}
}

del {
	color: grey;
	position: relative;
	text-decoration: none;
	position: absolute;
	bottom: 0;
	right: 5px;
	font-size: 1.4em;
	line-height: 1em;
}

del:after {
	content: "";
	display: block;
	position: absolute;
	width: 110%;
	height: 2px;
	border-radius: 1px;
	background: darkred;
	top: 9px;
	left: -5%;
	transform: skewY(-14deg);
}
